<!-- <link rel="stylesheet" type="text/css" href="/css/user.css"> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    
<br><h2>Please Log in here:</h2><br>

    <div class="login-form">
        <form action="/users/login" method="POST">
            <label for="email">Email</label><br>
            <input type="email" id="email" name="email" required><br><br>
            <label for="password">Password</label><br>
            <input type="password" id="password" name="password" required><br><br>
            <button>Log in</button><br>
        </form>
    </div>
</body>

</html>
