.success{
    background: rgba(108, 192, 112, 0.7);
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 10px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.error{
    background: rgba(255, 102, 51, 0.7);
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 10px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* 
body{
    background-color: rgb(246, 223, 181);
} */