body{
    background-color: rgb(145, 218, 192);;
}
.grid-container-sell{
    grid-template-columns:  (2, 1fr);
    display: flex;
    margin-top: 200px;
    margin-left: 100px;
    margin-right: 100px;
    height: 10px;
    align-items: center;
    justify-content: center;
    
    /* gap: -0px; */
}
.sell-directions h2{
    font-size: 30px;
    margin-top: 200px;
}
.sell-directions p{
    margin: 0px;
    margin-top: 30px;
    font-size: 15px;
}
.form{
    margin-top: 200px;
    background-color: rgb(101, 162, 242);
    padding: 30px;
}
.form label{
    position: absolute;
    font-size: 15px;
    color: white;
}
.form input, textarea, select{
    margin-left: 130px;
    margin-bottom: 10px;
    font-size: 15px;
    width: 70%; 
    transition: transform linear 100ms, background-color linear 300ms ;
}
form input:hover, textarea:hover, select:hover{
    background-color: rgb(196, 255, 234);
    transform: scale(1.05);
}
#product-image{
    border-color: transparent;
    padding: 10px;
    
}
#submit{
    padding: 10px;
}

img{
    height: 30%;
    width: 40%;
}

