<footer>
    <div class="footer-content">
        <p>&copy; <%= new Date().getFullYear() %> Silver Spoon Restaurant. All rights reserved.</p>
        <div class="social-links">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
    </div>
</footer>

<!-- JavaScript -->
<script src="/js/cart.js"></script>
</body>
</html>