<%- include('./partials/header.ejs')%>
<link rel="stylesheet" type="text/css" href="/css/error.css">
    <main>
        <div class="error-message">
            <h2><%= error.status%> Error </h3>
            <h4><%= error.message%></p>
        </div>
        
    </main>

