
<%- include('./partials/header.ejs')%>
<link rel="stylesheet" type="text/css" href="/css/index.css">
<link rel="stylesheet" type="text/css" href="/css/error.css">

<div class="container">
    <img class="item1" src="images/table.png">
    <img class="item2" src="images/plate1.png">
    <img class="item3" src="images/plate3.png">
</div>

<!-- <p>.</p> -->


    
</body>
</html>