<%- include('../partials/header.ejs')%>
<link rel="stylesheet" type="text/css" href="/css/login.css">

<main> 
    <div class="parent">
        <div class="signup-form">
            <form action="/users" method="POST">
                <h2>Please Sign up here:</h2><br>
                <label for="firstName">First Name</label><br>
                <input type="text" id="firstName" name="firstName" required><br><br>
                <label for="lastName">Last Name</label><br>
                <input type="text" id="lastName" name="lastName" required><br><br>
                <label for="email">Email</label><br>
                <input type="email" id="email" name="email" required><br><br>
                <label for="password">Password</label><br>
                <input type="password" id="password" name="password" required><br><br>
                <label for="admin">Adminstrator </label> <br>
                <input type="text" id="admin-key" name="admin"><br><br>
                <button type="submit">Sign Up</button><br>
            </form>
        </div>
    </div>

</main>
</body>
</html>

