<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Silver Spoon</title>
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/error.css">


    
</head>

<body>
    <header>
        <div class="topnav">
            <div class="links">
                <a href="/"><h1>Silver Spoon</h1></a>
                <ul>
                    <li><a href="/items">Menu</a></li>
                    <% if(!user){ %>
                        <li><a href="/users/new">Sign up</a></li>
                        <li><a href="/users/login">Log in</a></li>
                    <% } else{ %>
                            <li><a href="/users/logout">Log out</a></li>
                            <!-- <%console.log();%> -->
                        <% if(isAdmin){ %>
                            <li><a href="/items/new">List a new item</a></li>
                        <% } else { %>
                            <li><a href="/">My cart</a></li>

                        <% } %>
                    <% } %>
                </ul>

            </div>
        </div>
    </header>
    
    <% if(errorMessages.length > 0){ 
        errorMessages.forEach(message=>{ %>
            <div class="error"><%= message %></div>
        <% });
    } %>

    <% if(successMessages.length > 0){ 
        successMessages.forEach(message=>{ %>
            <div class="success"><%= message %></div>
        <% });
    } %>