<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Silver Spoon</title>
    <!-- <link rel="stylesheet" href="style.css"> -->

    
</head>

<body>
    <div>
        <a href="/"><h1>Silver Spoon</h1></a>
        <a href="items" class="home-button"><h3>Menu</h3></a>
        <a href="/users/new"><h3>Sign up</h3></a>
        <a href="/users/login"><h3>Log in</h3></a>
        <a href="/users/logout"><h3>Log out</h3></a>
        <a href="items/new"><h3>List item</h3></a>
    </div>
    

    
</body>
</html>